$fontRegular:myFontRegular,sans-serif,Verdana, Geneva;
$fontLight:myFontLight,sans-serif,Verdana, Geneva;


$lightGreen: #64DD17;
$green:#add65f;
$darkGreen:#8C9F1F;
$yellow:#f6e203;

$lightBlueThemeColor:#f3f6f8;

$gray:#acacac;
$lightGray: #F9FAFA;

$facebook:#38599e;
$twitter:#01acee;
$youtube:#d62424; 

$white:#FFF;
$red:#e60000;
$blue:#1763D3;
$darkBlue:#659BB2;
$black:#000;
$orange:#DA8642;

$popupColorRed:#d00f1f;

$mainColor:#029ece;

$mobileWidth:760px; 
$computerWidth:1099px; 
$laptopWidth:1100px;
 